# Python
venv/
backend/venv/
__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/

# Environment files
.env

# Uploads
backend/uploads/

# Build
build/
frontend/build/

# OS
.DS_Store
Thumbs.db
